#!/usr/bin/env python3

""" Mocks the `bw` cli command for testing """

import sys


STATUS_FILE_PATH: str = "{{ bw_status_file_path }}"


def write_status(status: str):
    """😃"""
    with open(STATUS_FILE_PATH, mode="w", encoding="utf-8") as status_file:
        status_file.write(status)


def read_status() -> str:
    """😃"""
    with open(STATUS_FILE_PATH, mode="r", encoding="utf-8") as status_file:
        return status_file.readline().strip("\\n")


def main() -> None:
    """main"""
    args = sys.argv[1:]

    if args == ["sync"]:
        pass
    elif args == ["logout"]:
        write_status("unauthenticated")
    elif args == ["status"]:
        status: str = read_status()
        print('{"status": "' + status + '"}')
    elif args == ["login", "--apikey"]:
        write_status("locked")
    elif args == ["lock"]:
        write_status("locked")
    elif args == ["unlock"]:
        if read_status() == "unauthenticated":
            sys.exit(1)
        write_status("unlocked")
        print(
            r"""
            Your vault is now unlocked!

            To unlock your vault, set your session key to the ...
            $ export BW_SESSION="SssSessionKeyyyyyyYY=="
            > $env:BW_SESSION="SssSessionKeyyyyyyYY=="

            You can also pass the session key to any command with ...
            $ bw list items --session SssSessionKeyyyyyyYY==
            """
        )
    elif args == ["--nointeraction", "list", "items"]:
        if read_status() != "unlocked":
            sys.exit(1)
        print("""{{ bw_output_items }}""")
    elif args == ["--nointeraction", "list", "folders"]:
        if read_status() != "unlocked":
            sys.exit(1)
        print("""{{ bw_output_folders }}""")


if __name__ == "__main__":
    main()
