#!/usr/bin/env python3
import sys

# Reference:
# "keyctl", "search", "@s", "user", self.keyring_label
# "keyctl", "pipe", keyid
# "keyctl", "padd", "user", self.keyring_label, "@s"

if sys.argv[1] == "search":
    print("{{keyctl_key_id}}")
elif sys.argv[1] == "pipe":
    print("Here is your sensitive value that is not being checked in testing", end="")
elif sys.argv[1] == "padd":
    contents: str = sys.stdin.readline()
